# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# Colab specific
*.ipynb_checkpoints
*.colab

# Logs and outputs
*.log
*.out
*.err

# System files
.DS_Store
Thumbs.db

# VS Code / PyCharm
.vscode/
*.code-workspace
.idea/
